## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
words2=[]
for i in words:
    words2.append(i.upper())
print(words2)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [8]:
new_list=[]
for i in words:
    if len(i)>=5:
        new_list.append(i)
print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [11]:
for i in words:
    if i.startswith('t'):
        print(i)
        break

theatre

## Numbers


**Create a list containing the square of every number from 1 to 10**

In [15]:
nlist=[]
for i in range(1,11):
    nlist.append(i**2)
print(nlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [17]:
nlist=[]
for i in range(1,11):
    if i%2!=0:
        nlist.append(i**2)
print(nlist)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [53]:
nlist=[]
for i in range(1,1001):
    if i%8==0:
        nlist.append(i**2)
        if i**2>1000:
            nlist.remove(i**2)
    
print(nlist)

[64, 256, 576]

## People

In [75]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [60]:
len(people)

5

**How many people have kids**?

In [64]:
counter=0
for i in people:
    if i['n_kids']!=0:
        counter+=1
print(counter)

4

**How many kids do they have in total?**

In [69]:
total_kids=0
for i in people:
    total_kids+=i['n_kids']
print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [78]:
New_people=[]
for i in people:
    if i['name'].endswith('a'):
        i['n_kids']+=1
    New_people.append(i)
print(New_people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 4}, {'name': 'Lucía', 'age': 22, 'n_kids': 5}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]